<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/bootstrap.css" />
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="./css/c3.css" type="text/css">
	<title>iOne</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/d3.v3.min.js"></script>
	<script src="./js/c3.min.js"></script>

	<script type="text/javascript" src="ejs.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>
	

	<script>
		function mostrar_abas(obj) {

			<% for(i=0; i < jardim.length; i++) { %>
				document.getElementById('div_aba<%=i%>').style.display="none";
				<%}%>

				switch (obj.id) {
					
					<% for(i=0; i < jardim.length; i++) { %>
						case 'mostra_aba<%=i%>':
						document.getElementById('div_aba<%=i%>').style.display="block";
						break
						<%}%>
					}
				}

			</script>

		</head>
		<body>

			<div class="container">

				<fieldset>
					<legend>Conta</legend>
					<ul>
						<li>imagem</li>
						<li><%= nome %></li>
						<li><a href="/viewRedefinir">Redefinir senha</a></li>
						<li><a href="/sair">sair</a></li>
					</ul>
				</fieldset>


				<fieldset>
					<legend>Jardim</legend>
					<a href="/viewNovoJardim">(+)criar novo</a>
					<br><br>	

					<% for(i=0; i < jardim.length; i++) { %>
					<a href="#" onclick="mostrar_abas(this);" id="mostra_aba<%=i%>"><%= jardim[i].nome %></a> |
					<% } %>
					<div class="detalhes">
						<br><br>
						<% for(i=0; i < jardim.length; i++) { %>
						<div id="div_aba<%=i%>" style="display:none;">
							<div class="inf_esq">
								<ul>
									<li>Nome: <%= jardim[i].nome %></li>
									<li>Ambiente: <%= jardim[i].ambiente %></li>
									<li>Localização: <%= jardim[i].localizacao %></li>
								</ul>
							</div>

							<div class="inf_dir" id="chart" style="width: 200px; height: 200px";> 
								<script>  			
									var chart = c3.generate({
										data: {
											columns: [          		 	
											['consumo de água' 
											<% for(var j=0; j<results.length; j++) {%>
												,<%= results[j].valor %>
												<% } %>
												]
												],
												type: 'bar'
											},
											bar: {
												width: {
              								ratio: 0.5 // this makes bar width 50% of length between ticks
              							}
              						}
              					});
              				</script>
              			</div>
              		</div>
              		<% } %>
              	</div>


              </fieldset>

              <fieldset>
              	<legend>Acompanhamento</legend>
              </fieldset>

          </div>


      </body>
      </html>


