<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>iOne</title>
	<meta charset="utf-8">

	<script src="../js/bootstrap.js"></script>

	<!-- jQuery (necessary for Bootstrap'<s></s> JavaScript plugins) -->
	<script src="../js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../css/bootstrap.css" />
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="../css/c3.css" type="text/css">
	
	
	<script src="../js/d3.v3.min.js"></script>
	<script src="../js/c3.min.js"></script>


	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	
	<script>
		function mostrar_abas(obj) {

			<% for(i=0; i < jardim.length; i++) { %>
				document.getElementById('div_aba<%=i%>').style.display="none";
				<%}%>
				switch (obj.id) {
					<% for(i=0; i < jardim.length; i++) { %>
						case 'mostra_aba<%=i%>':
						document.getElementById('div_aba<%=i%>').style.display="block";
						break
						<%}%>
					}
				}
			</script>

		</head>
		<body>

			<div class="container">
				<div class="header">
					<h1>iOne Jardim Inteligente</h1>
					<h2>principal</h2>
				</div>
				<div class="content">
					
					<fieldset>
						<legend>Conta</legend>
						<div class="conta">	
							<div class="informacao">
								<img id="icone-principal" class="img-responsive center-block " src="../img/icone-conta.png">
								<div class="btn-group">
									<a class=" btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=nome%> <span class="caret"></span></a>							
									<ul class="dropdown-menu">
										<li><a href="/viewRedefinir"><span class="glyphicon glyphicon-user"></span>Redefinir senha</a></li>
										<li><a href="/sair"><span class="glyphicon glyphicon-off"></span>  Sair</a></li>
									</ul>
								</div>
							</div>
						</div>
					</fieldset>
					
					<fieldset>
						<legend>Jardim</legend>
						<div class="jardim">

							<div class="informacao">
								<% if(jardim.length == 0){%>
								<input type="image" id="icone-principal-semfoco" class="img-resposive center-block" name="registrar" src="./img/icone-plantas.png" onclick= "window.location.assign('viewNovoJardim')">
								<a href="/viewNovoJardim" class=" btn dropdown-toggle">criar novo jardim</a>	
								<br><br>
								<%}else{%>
								<img id="icone-principal" class="img-responsive center-block " src="../img/icone-plantas.png">
								<div class="btn-group">
									<a id="texto-principal" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= nome_jardim %><span class="caret"></span></a>						
									<ul class="dropdown-menu">
										<li><a href="/viewAlterarJardim"><span class="glyphicon glyphicon-leaf"></span>  alterar</a></li>
										<li><a href="/deletarJardim"><span class="glyphicon glyphicon-remove"></span>  remover</a></li>
									</ul>
								</div>
								<%}%>
							</div>

							<% if(jardim.length > 0){%>
							<div class="detalhes">
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<div class="detalhes-jardim">
											<ul>
												<li class="li-menu">DESCRIÇÃO</li>
												<li class="li-item">Nome: <%= nome_jardim%></li>
												<li class="li-item">Planta: <%= planta%></li>
												<li class="li-item">Grupo: <%= grupo%></li>
												<li class="li-menu">LOCALIZAÇÃO</li>
												<li class="li-item">Estado: <%= estado%></li>
												<li class="li-item">Cidade: <%= cidade%></li>								
											</ul>
										</div>
									</div>
									<div class="col-xs-12 col-md-6">
										<div class="dashboard-jardim">
										<h2>gráfico</h2>
										</div>
									</div>
								</div>
							</div>
							

						</div>
					</fieldset>

		<!--					
							<% for(i=0; i < jardim.length; i++) { %>
							<a href="#" onc
							lick="mostrar_abas(this);" id="mostra_aba<%=i%>"><%= jardim[i].nome %></a> |
							<% } %>
							<div class="informacao">
								<br><br>
								<% for(i=0; i < jardim.length; i++) { %>
								<div class="aba" id="div_aba<%=i%>" style="display:none;">
									<div class="detalhes">
										<ul>
											<li>Nome: <%= jardim[i].nome %></li>
										</ul>
									</div>


									<div id="chart" class="grafico"> 
										<script>  			
											var chart = c3.generate({
												data: {
													columns: [          		 	
													['consumo de água' 
													<% for(var j=0; j<results.length; j++) {%>
														,<%= results[j].valor %>
														<% } %>
														]
														],
														type: 'bar'
													},
													bar: {
														width: {
              								ratio: 0.5 // this makes bar width 50% of length between ticks
              							}} 
              						});
              					</script>
              				</div>
              				<% } %>
              			</div>
              		</div>
              	-->


              	<fieldset>
              		<legend>Acompanhamento</legend>
              		<h1>ultimas análises</h1>
              	</fieldset>
<%}%>
              </div>
          </div>



      </body>
      </html>