<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="./css/c3.css" type="text/css">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<fieldset>
			<legend>Conta</legend>
			<ul>
				<li>imagem</li>
				<li><%= nome %></li>
				<li><a href="/viewRedefinir">Redefinir senha</a></li>
				<li><a href="/sair">sair</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Jardim</legend>
			<ul>
				<li><a href="/viewNovoJardim">Novo Jardim</a></li>
			</ul>
		</fieldset>
		<fieldset>
		
			<legend>Detalhes do Jardim</legend>

			<li>infomacao1:<%= variavel1 %></li>
			<li>infomacao2:<%= variavel2 %></li>
			<li>infomacao3:<%= variavel3 %></li>
			<li>infomacao4:<%= variavel4 %></li>
			<li>infomacao5:<%= variavel5 %></li>
			
		




			<div class="direita" id="chart" style="width: 400px;"></div>

  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  			<script src="./js/bootstrap.js"></script>
  			<script src="./js/d3.v3.min.js"></script>
  			<script src="./js/c3.min.js"></script>

  			<script>
    			var chart = c3.generate({
			      	data: {
          		  	columns: [
              			['consumo de água', <%= consumo %>],
              			['acionamento de válvula', <%= acionamento %>]
          			],
          			type: 'bar'
      				},
      				bar: {
          				width: {
              				ratio: 0.5 // this makes bar width 50% of length between ticks
          				}
      				}
  				});

  			</script>
		
		</fieldset>

		
		
			<legend>Acompanhamento</legend>
		
	</div>

	
</body>
</html>